@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> @Html.ActionLink("Personas", "VistaPersonas")</p>
    <p> @Html.ActionLink("Departamentos", "ListaDepartamentos")</p>
</div>
