@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Comidas</title>
</head>
<body>
    <h1>Lista de Comidas</h1>
    <ul>
        <li>Pasta</li>
        <li>Pizza</li>
        <li>Ensalada</li>
        <li>Arroz con pollo</li>
        <li>Sopa de verduras</li>
    </ul>
</body>
</html>
